body {
  background-color: #282c34;
}

.App {
  width: 420px;
  margin: 0 auto;
  margin-top: 50px;
}

.main-wrapper {
  border: 3px solid rgb(178, 252, 252);
  border-radius: 5px;
  padding: 20px;
}

.scoreboard {
  background-color: rgb(178, 252, 252);
  text-align: center;
  padding: 30px 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.scoreboard__value {
  font-size: 70px;
  font-weight: bold;
  color: #282c34;
}

.buttons_wrapper {
  display: flex;
  justify-content: space-between;
  border: 3px solid rgb(178, 252, 252);
  padding: 20px;
  border-radius: 5px;
}

.button {
  all: unset;
  padding: 0 5px;
  font-size: 70px;
  font-weight: bold;
  color: #282c34;
  border-radius: 5px;
}

.false {
  background-color: rgb(178, 252, 252);
  cursor: pointer;
}

.true {
  background-color: rgb(23, 92, 130);
}

.red {
  color: red;
}